* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f15a29;
    padding: 10px 20px;
}

.menu {
    display: block;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

.menu a {
    padding: 20px;
    color: white;
    text-decoration: none;
    
}